# Gradle Build Cache
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Eclipse
.settings
.metadata
.classpath
.cache
.project
bin
eclipse

# IntelliJ
out
*.idea
*.iml
*.ipr
*.iws
*.log
*.log.lck
